<!DOCTYPE html>
<html>
  <head>
    <title>CustomerRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>

<footer>
    <div class=" text-white pt-3 pb-4">
        <div class="row no-gutters col-md-10 offset-md-2">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3"><a href="/">お問い合わせ</a></h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>

    </div>
  </footer>
  </body>
</html>
